body {
    background-size: cover;
    background: rgba(0, 0, 0, 0.96) no-repeat fixed center;
    color: greenyellow;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.logo-header, .name-header {
    display: block;
    margin-top: 10px;
    font-size: 2em;
}

.my-connections {
    font-size: 1.5em;
}

.content-title {
    font-size: 1.3em;
    margin-top: 20px;
}

.a-default {
    color: greenyellow;
    text-decoration: none;
}

.green-color {
    color: greenyellow;
}

.footer-content {
    font-size: 0.8em;
}